<body>

<form action="<%= path %>" method="post">

<input type="hidden" name="<%= "#{@model}.id" %>" value="<%= "${#{@model}.id}" %>">

<% @attributes.each do |att| -%>
  <div class="field">
    <%= att.name.capitalize %>:<br />
    <%= "<@html.#{att.html_input} \"#{@model}.#{att.name}\" value=\"#{@model}.#{att.name}\"/>"  %>
  </div>
<% end -%>
  <div class="actions">
    <button type="submit" name="_method" value="put">update</button>
  </div>
</form>

<a href="<%= path %>">Back</a>
	
</body>

