<body>

<form action="<%= path %>" method="put">
<input type="hidden" name="<%= "#{@model}.id" %>" value="<%= "${#{@model}.id}" %>">
<% @attributes.each do |att| -%>
  <div class="field">
    <%= att.name.capitalize %>:<br />
    <input type="text" name="<%= "#{@model}.#{att.name}" %>" value="<%= "${#{@model}.#{att.name}}" %>">
  </div>
<% end -%>
  <div class="actions">
    <input type="submit" value="update">
  </div>
</form>

<a href="<%= path %>">Back</a>
	
</body>

