<<%='%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%'%>>
<body>
<h1>Listing <%= class_name.pluralize %></h1>

<table>
  <tr>
<% @attributes.each do |att| -%>
   <th><%= att.name %></th>
<% end -%>
   <th></th>
   <th></th>
   <th></th>
  </tr>

<c:forEach items="${<%=@model%>List}" var="<%=@model%>">
  <tr>
  <% @attributes.each do |att| -%>
    <td>
      <%= "${#{@model}.#{att.name}}" %>
    </td>
  <% end -%>
    <td><a href="<%= path "/${#{@model}.id}" %>">show</a></td>
    <td><a href="<%= path "/${#{@model}.id}/edit" %>">edit</a></td>
    <td>
      <form action="<%= path "/${#{@model}.id}" %>" method="post">
    	  <input type="hidden" name="_method" value="delete"/>
    	  <button type="submit" onclick="return confirm('Are you sure?')">destroy</button>
	    </form>
	  </td>
    </tr>
</c:forEach>
</table>

<br />
<a href="<%= path '/new' %>">New <%= class_name %></a> 
</body>
