<body>
<h1>Listing <%= class_name.pluralize %></h1>

<table>
  <tr>
<% @attributes.each do |att| -%>
   <th><%= att.name %></th>
<% end -%>
   <th></th>
   <th></th>
   <th></th>
  </tr>

<#list <%= "#{@model}List as #@model" %>>
  <tr>
  <% @attributes.each do |att| -%>
    <td>
      <%= "${#{@model}.#{att.name}!\"\"}" unless att.boolean? %>
      <%= "${#{@model}.#{att.name}?string}" if att.boolean? %>
    </td>
  <% end -%>
    <td><a href="<%= "#{path}/${#{@model}.id}" %>">show</a></td>
    <td><a href="<%= "#{path}/${#{@model}.id}/edit" %>">edit</a></td>
    <td>
      <form action="<%= "#{path}/${#{@model}.id}" %>" method="post">
    	  <input type="hidden" name="_method" value="delete"/>
    	  <button type="submit" onclick="return confirm('Are you sure?')">destroy</button>
	    </form>
	  </td>
    </tr>
</#list>
</table>

<br />
<a href="<%= path %>/new">New <%= class_name %></a> 
</body>
