<head>
	<title><%= class_name %> [show]</title>
</head>
<body>
<%- @attributes.each do |att| -%>
	<p>
		<b><%= att.name.camelize %>:</b>
		<%= "${#{model_parameter_name}.#{att.name}}" %>
	</p>
<% end -%>

	<a href="<%= path "/${#{model_parameter_name}.id}/edit" %>">Edit</a>
	<a href="<%= path %>">Back</a>
</body>